---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Angel Blog's",
	description: "The perfect starter for your perfect blog.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hola Mundo!</h1>
		<p class="mb-4">
			Hola! Mi nombre es Angel Valladares.
		</p>
		<p class="mb-4">
			Estudiante de la carrea de Ingenieria en Sistemas de la UNAH y este es mi blog personal.
			Mis temas de interes son la musica, series y peliculas, el desarrollo web, blockchain y machine learning.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Mis Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologias usadas en este blog:</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Framework Web para construir paginas web.</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>@astro/image
				</a>:
				<p class="inline-block sm:mt-2">
					Integracion imagenes con Astro.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Framework de CSS.
				</p>
			</li>
			<li>
				<a
					href="https://mdxjs.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>MDX
				</a>:
				<p class="inline-block sm:mt-2">Lenguaje de marcado Markdown.</p>
			</li>
		</ul>
	</section>
</PageLayout>
